* {
    box-sizing: border-box;
}

nav{
    height: 100%;
    width: 50px;
    position: fixed;
}

.business-logo{
    position: fixed;
    top: 0;
    padding-top: 10px;
    max-width: 60px;
}

.nav-icon{
    position: fixed;
    top: 250px;
    width: 60px;
    padding: 10px;
}

.account-overview div{
    display: inline-block;
    /*float: left;
    position: relative;*/
}

.user-info{
    position: relative;
}

main,
header {
    margin-left: 140px;
}

.left-section{
    width: 50%;
    float: left;
}

.right-section{
    width: 50%;
    float: right;
}

li img{
    width: 30px;
}

.section-heading {
    position: relative;
}

.section-heading h2{
    display: inline-block;
}

li{
    list-style-type: none;
    display: inline-block;
}

