* {
    box-sizing: border-box;
}

nav{
    height: 100%;
    width: 50px;
    position: fixed;
}

main,
header {
    margin-left: 140px;
}

.left-section{
    width: 50%;
    float: left;
}

.right-section{
    width: 50%;
    float: right;
}
img{
    max-width: 70px;
}

.account-list img{
    width: 30px;
}